body {
  background-color: #ffe066;
}
div {
    border: solid 1px black;
}

#header {
    width: 700px ;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#article {
    width: 700px ;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    width: 700px ;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}